<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
      <title>cluburo</title>
      </head>
  <body style="background-color:black;color:white;text-align:center;">
    <div class="row" id="parent">
      <h1>Error</h1>
      Error:<%= err%>
        </div>
  </body>
</html>